<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogFile="c:\\workspace\\logs\\pandologic-task-internal-log.log"
  internalLogLevel="Info">
	<targets>
	<target
	  xsi:type="ColoredConsole"
	  name="logconsole"
	  layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	<target
	  xsi:type="File"
	  name="logfile"
	  filename="c:\\workspace\\logs\\pandologic-task-log.log"
	  layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logconsole" />
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>